.git
.gitignore
.env
.env.*
vendor
node_modules
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
database/database.sqlite
*.sqlite
tests
docs
README.md
*docker-compose*
.gitattributes